<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Quicksand" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Comfortaa" />
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Indie+Flower" />
<h1 class="about-us">
  - Hello There. We are Theresa, Cornelius and Daniel.
</h1><br><br>
<h3 class="about-us2">
  Coffee in the Cloud Seminar was a Bachelor Seminar at the chair of Prof. Dr. Weske at the Hasso-Plattner-Institut in Potsdam.
  The repository can be found online at Github: <a href="https://github.com/Birne94/Coffee-in-the-Cloud" target="_blank">Coffee-in-the-Cloud.</a><br><br>

  We hope you enjoy using this application and don't forget:
  <br> <br>

  <h2 class="about-us"> Coffee is always a good idea!</h2>

</h3>
<a href="https://bpt.hpi.uni-potsdam.de/Public/WebHome">
  <img class="img-rounded img-header img-responsive" width="500" src="../../public/images/coffee.jpg" alt="wimi" />
</a><br>
