<div ng-cloak ng-controller="cleaningController" ng-init="option='weekly'">

    <h1>Checklist for {{option}} cleaning!</h1>

    <p>
        <button type="submit" class="btn" ng-class="{'btn-info': (option == 'weekly'), 'btn-primary': (option == 'biweekly')}" ng-click="option='weekly'" aria-selected="true">weekly
            cleaning
        </button>
        <button type="submit" class="btn" ng-class="{'btn-info': (option == 'biweekly'), 'btn-primary': (option == 'weekly')}" ng-click="option='biweekly'">biweekly cleaning</button>
    </p>

    <div class="panel panel-default">
        <table class="table">
            <tr ng-repeat="step in cleaningSteps | filter:weekly_bi(option)">
                <td >
                    <div class="checkbox checkbox-success">
                        <input type="checkbox" ng-model="step.Selected" ng-true-value="'myClass'" ng-false-value="''" id="checkbox{{$id}}">
                        <label for="checkbox{{$id}}" class="{{step.Selected}}">
                            {{step.name}}
                        </label>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <button type="button" class="btn btn-danger" aria-label="Left Align" ng-click="checkAll()" >Reset</button>
    <br>
</div>
