<h1>Your settings</h1>

<form id="fileupload" class="form-horizontal" ng-controller="settingsController">
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="email" value="{{user.email}}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" value="{{user.first_name}} {{user.last_name}}" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="balance" class="col-sm-2 control-label">Account Balance</label>

        <div class="col-sm-10">
            <input type="text" class="form-control" id="balance" value="{{user.balance}}&euro;" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="avatar" class="col-sm-2 control-label">Avatar</label>

        <div class="col-sm-8">
            <div class="pull-left">
                <span class="helper"></span>
                <img ng-src="{{ user.avatar }}" ng-show="user.avatar && !settings.avatar" height="35" class="avatar" />
                <img ng-src="{{ settings.avatar }}" ng-show="settings.avatar" height="35" class="avatar" />
            </div>

            <div class="row fileupload-buttonbar">
                <div class="col-lg-7">
                    <span class="btn btn-success fileinput-button">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Choose file...</span>
                        <input type="file" name="avatar" fileread="settings.avatar">
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox checkbox-success">
                <input type="checkbox" ng-model="settings.receive_emails" name="emails" id="emails">
                <label for="emails">
                    Receive notification emails
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox checkbox-success">
                <input type="checkbox" ng-model="settings.show_in_rankings" name="rankings" id="rankings">
                <label for="rankings">
                    Show account in statistics and rankings
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox checkbox-success">
                <input type="checkbox" ng-model="changePassword" name="password" id="password">
                <label for="password">
                    Change account password
                </label>
            </div>
        </div>
    </div>
    <div ng-show="changePassword">
        <div class="form-group">
            <label for="pw1" class="col-sm-2 control-label">Old password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="pw1" ng-model="settings.pw_old">
            </div>
        </div>
        <div class="form-group">
            <label for="pw2" class="col-sm-2 control-label">New password</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="pw2" ng-model="settings.pw_new">
            </div>
        </div>
        <div class="form-group">
            <label for="pw3" class="col-sm-2 control-label">New password (repeat)</label>

            <div class="col-sm-10">
                <input type="password" class="form-control" id="pw3" ng-model="settings.pw_new2">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-success" ng-click="update()">Update settings</button>
                <button type="submit" class="btn btn-danger" ng-click="reset()">Reset</button>
            </div>
        </div>
    </div>
</form>

<div ng-show="permissions.indexOf('authentication.manage_balance') >= 0">
    <h1>Manage Balance</h1>

    <form id="fileupload" class="form-horizontal" ng-controller="settingsController">
        <div class="form-group">
            <label for="balance" class="col-sm-2 control-label">Global Balance</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="balance" value="{{balance}}&euro;" readonly>
            </div>
        </div>
        <div class="form-group">
            <label for="balance" class="col-sm-2 control-label">Add Amount</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="balance" ng-model="balance_amount" placeholder="Insert amount in Euro">
            </div>
        </div>
        <div class="form-group">
            <label for="balance" class="col-sm-2 control-label">Select User (optional)</label>

            <div class="col-sm-10">
                <select ng-model="balance_user">
                    <option ng-repeat="u in users" value="{{u.id}}">{{u.first_name}} {{u.last_name}}</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" ng-click="update_balance()">Update Balance</button>
            </div>
        </div>
    </form>
</div>