<div class="row" style="padding: 30px;">
    <div class="col-md-6">
        <h3>Overall Coffee Consumption</h3>
        <canvas id="chartCoffeeConsumption" style="padding: 30px;"></canvas>
    </div>
    <div class="col-md-6" ng-show="user">
        <h3>Your own Coffee Consumption</h3>
        <canvas id="chartCoffeeConsumptionOwn" style="padding: 30px;"></canvas>
    </div>
</div>
<div class="row" style="padding: 30px;">
    <div class="col-md-6">
        <h3>Coffee Types</h3>
        <canvas id="chartCoffeeType" style="padding: 30px;"></canvas>
    </div>
    <div class="col-md-6">
        <h3>Coffee comparison</h3>
        <canvas id="chartCoffeeComparison" style="padding: 30px;"></canvas>
    </div>
</div>