<div class="container" ng-cloak ng-controller="tallylistController">
  <h1>Your Tally List</h1>

  <h3>Here you can find your current coffee consumption:</h3>
  <p class="alert alert-info">You have {{ user.coffees }} coffees on the list & your current balance is {{user.balance}}€</p>

  <ul ng-show="user.coffees">
    <li ng-repeat="coffee in tally |limitTo:10">
      {{ coffee.amount }} coffee<span ng-show="coffee.amount > 1">s</span> (<em>{{ coffee.created_at | parseDate }}</em>)
      <span ng-show="coffee.is_deletable">
        <a ng-click="removeCoffee(coffee.id)" data-toggle="tooltip" data-placement="right" title="delete entry">
          <i class="fa fa-trash-o"></i>
        </a>
      </span>
    </li>
  </ul>
  <h3> Add some more coffee? </h3>
  <div type="button" class=class="btn-group" aria-expanded="false">
    <button type="button" class="btn btn-info" data-ng-click="addCoffee(1)">Add a coffee <i class="fa fa-coffee fa-lg"></i></button>
    <button type="button" class="btn btn-info" data-ng-click="addCoffee(2)">Add a double coffee <i class="fa fa-coffee fa-lg"></i><i class="fa fa-coffee fa-lg"></i></button>
  </div>
</div>
