<div class="container" ng-cloak ng-show="loaded" ng-controller="testController">
    <h1>Hallo Welt</h1>
    <h3 ng-cloak ng-show="user">
        Hello {{ user.first_name }} {{ user.last_name}}!
        <button type="button" class="btn btn-default" data-ng-click="addCoffee(1)">Add coffee!</button>
    </h3>
    <div ng-cloak ng-show="user.coffees">
        <p class="alert alert-info">You have {{ user.coffees }} coffees on the list!</p>
        <ul>
            <li ng-repeat="coffee in tally">
                {{ coffee.amount }} coffee<span ng-show="coffee.amount > 1">s</span> (<em>{{ coffee.created_at | parseDate }}</em>)
            </li>
        </ul>
    </div>

    <p>{{ testMessage }}</p>

    <p>Click Counter: {{ clickCount}}</p>
    <button type="button" class="btn btn-primary" data-ng-click="test()">Click me!</button>
</div>