<h3>Coffee Tutorial</h3>

<div class="well">
    <center>
        <div class="tutorial-image" ng-hide="choice">
            <a ng-click="next()"><img ng-src="{{current_image.src}}" class="img-rounded" height="300"/></a>
            <div ng-show="step < 23" class="tutorial-button" ng-click="next()"><a>&gt;</a></div>
            <h4 ng-show="step == 23">Congratulations!</h4>
        </div>
        <div ng-show="choice">
            <span class="tutorial-image" ng-repeat="c in choice">
                <a ng-click="next(c.cb)"><img ng-src="{{c.src}}" class="img-rounded" height="300"/></a>
            </span>
            <h4>Select one!</h4>
        </div>
    </center>
</div>