<div ng-controller="welcomeController">
  <h1>Welcome to Coffee in the Cloud!</h1>
  <body>
    <div class="row">
      <div class="col-md-10">
        <div class="thumbnail">
          <img width="500"  src="../../public/images/weske.jpg" alt="wimi" href="https://bpt.hpi.uni-potsdam.de/Public/WebHome">
          <div class="caption">
            <h3>Peace out!</h3>
            <p>
              This is the awesome project of the BPM in the cloud seminar of the Chair of Prof. Weske. Stay fresh!
            </p>
            <p><a data-toggle="modal" data-target="#modal-login" class="btn btn-primary" role="button">Sign in</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</div>
