<div ng-cloak ng-controller="welcomeController">
  <h1 ng-hide="user">Welcome to Coffee in the Cloud!</h1>

  <p class="alert alert-info" ng-show="user">You have <strong>{{ user.coffees }} coffee<span ng-show="user.coffees > 1">s</span></strong> on the list. &bull; Your current balance is <strong>{{user.balance | prettyFloat}}&euro;</strong>.</p>
  <p class="alert alert-warning" ng-show="cleaning">
    <button data-dismiss="alert" class="close" type="button" aria-hidden="true" title="Close" tooltip><i class="fa fa-times"></i></button>
    <button class="close" type="button" title="Cleaning done" tooltip ng-click="finishedCleaning();"><i class="fa fa-check"></i></button>
    <b>Info: </b>You have been selected for <i><b>{{cleaning_type}}</b></i> for today.
  </p>
  <p class="alert alert-danger" ng-show="user && user.balance <= 2">
    <button data-dismiss="alert" class="close" type="button" aria-hidden="true" title="Close" tooltip><i class="fa fa-times"></i></button>
    <strong>Warning:</strong> Your Balance is low! Please add some more money to your account!
  </p>

  <h1 ng-show="user">Welcome {{ user.first_name }} {{ user.last_name}}!</h1><br>
  <div ng-show="maxUser.indexOf(user.id) > -1" class="alert alert-info">
    <button data-dismiss="alert" class="close" type="button" aria-hidden="true" title="Close" tooltip><i class="fa fa-times"></i></button>
    You have drunk most of the coffee so far. Good job! <i class="fa fa-birthday-cake"></i>
  </div>
  <div class="container">
    <a href="https://bpt.hpi.uni-potsdam.de/Public/WebHome">
      <img class="img-rounded img-header img-responsive" width="500" src="public/images/coffee.jpg" alt="wimi" />
    </a><br>

    <div class="caption">
      <h3>
        This is the awesome project of the BPM in the cloud seminar of the chair of Prof. Weske. <br><br>
        Stay calm and have a coffee with us! <a ng-show="user" href="#/tallylist/"><i class="fa fa-coffee fa-lg"></i></a>
      </h3>
      <br><br>
      <p ng-hide="user">
        <a data-toggle="modal" data-target="#modal-login" class="btn btn-primary" role="button">Sign in</a>
      </p>
      <p ng-show="cleaning">
        <button type="button" class="btn btn-warning" ng-click="finishedCleaning()">Finished Cleaning</button>
      </p>
    </div>
  </div>
</div>
